# general filetypes to ignore
*.txt
*.pyc
.*

# coverage report
*/htmlcov/*

# eclipse stuff
*.project
*.pydevproject
*.settings*

# testing folder
*/testing-tmp

# Python stuff
*/__pycache__

# Test file
test.py
