# general filetypes to ignore
*.txt
*.pyc
.*

# coverage report
*/htmlcov/*

# testing folder
*/testing-tmp

# Python stuff
*/__pycache__
*/cubitpy.egg-info/*
*-wheel-metadata/*
*/CubitPy.egg-info/*
CubitPy.egg-info/
/build/
# Test file
test.py

# .github should not be ignored
!.github
