# general filetypes to ignore
*.txt
*.pyc
.*

# coverage report
*/htmlcov/*

# eclipse stuff
*.project
*.pydevproject
*.settings*

# testing folder
*/testing-tmp

# Python stuff
*/__pycache__
cubitpy.egg-info/*
*-wheel-metadata/*

# Test file
test.py

# .github should not be ignored
!.github
