on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:
    type: choice

jobs:
  code_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install cubitpy
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Code checks
        run: |
          pre-commit install --install-hooks
          if [ "${GITHUB_REF}" = "refs/heads/main" ]; then
            SKIP=no-commit-to-branch pre-commit run --all-files
          else
            pre-commit run --all-files
          fi

  testing:
    name: cubitpy-testing
    runs-on: self-hosted
    env:
      CUBIT_ROOT: /imcs/public/compsim/opt/cubit-15.2
      PYTHON_VENV: python-testing-environment
      SPACK_ACTIVATION_SCRIPT: /home_local/github-runner/testing_lib/spack/share/spack/setup-env.sh
      TESTING_GITHUB: 1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup virtual environment and run tests
        run: |
          whoami
          pwd
          export CUBITPY_PATH="$(pwd)"
          # Activate spack and load python
          . ${SPACK_ACTIVATION_SCRIPT}
          spack load python@3.12.1
          # Create the virtual environment
          python -m venv $PYTHON_VENV
          source $PYTHON_VENV/bin/activate
          # Update pip
          pip install --upgrade pip
          # Install cubitpy
          pip install -e .[dev]
          # Print information on the python environment
          python --version
          pip list
          # Run tests
          pytest
          # This tests that if cubit is completely closed everything works
          cd tests
          ./test_configurations.sh
